
#fullNameInNavBar{
margin-top: -8px;
}
p {
font-family: Lato;
}

.navbar{
z-index: 1;
}
#home{
margin-top: 8px;
}
#signup{
margin-top: 8px;
}
#login{
  margin-top: 8px;
}
img{
  width: 30px;
  height: 30px;;
}