<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <a class="navbar-brand" [routerLink]="['/home']" 
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }">Home</a>
       <div id="navbarToggleRight">
        <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        </div>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" [collapse]=isCollapsed>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/about']" 
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">About</a></li>
          <li><a [routerLink]="['/donors']" 
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">Donors</a></li>
            <li><a [routerLink]="['/consumers']" 
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">Consumers</a></li>
                <li><a [routerLink]="['/contact']" 
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{ exact: true }">Contact</a></li>
                    <li><a [routerLink]="['/manage']" 
                        [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }">Manage</a></li>
                       
                               
        </ul>
       
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/signup']" 
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">Sign up</a></li>
                   
            <li><a [routerLink]="['/login']" 
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">Login</a></li>


            <li *ngIf = "authenticatedName" class="dropdown" dropdown>
                <a href="javascript:void(0)" dropdownToggle class="dropdown-toggle">{{authenticatedName}}<span class="caret"></span></a>
                 <ul *dropdownMenu class="dropdown-menu" role="menu">
                   <li><button (click) = "logout()" class="btn btn-warning">Logout({{authenticatedName}})</button></li>
                 </ul>
               </li>
                
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>