<div class="container-fluid">
  <div class="row">
    <div class="col-ms-10 col-ms-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <mat-progress-bar *ngIf="!msg" mode="indeterminate"></mat-progress-bar>
      <br>
      <form class="form" name="biodataForm" [formGroup]="biodataForm">
        <div>
          <p id="headingP">Please fill up form as a donor
          </p>
        </div>
       
        <div class="formDiv">
          <mat-form-field class="full-width">
            <input matInput placeholder="Donor Name" required type="text" minlength="3" maxlength="30" autocomplete="off"
              [(ngModel)]="donor.donorsName" [formControl]="nameFormControl">
            <mat-error *ngIf="nameFormControl.invalid">{{getRequiredErrorMessageForString('donorsName')}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <input matInput placeholder="Country" required type="text" minlength="3" maxlength="30" autocomplete="off"
              [(ngModel)]="donor.country" [formControl]="countryFormControl">
            <mat-error *ngIf="countryFormControl.invalid">{{getRequiredErrorMessageForString('country')}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <input matInput placeholder="City" required type="text" minlength="3" maxlength="30" autocomplete="off"
              [(ngModel)]="donor.city" [formControl]="cityFormControl">
            <mat-error *ngIf="cityFormControl.invalid">{{getRequiredErrorMessageForString('city')}}</mat-error>
          </mat-form-field>
         

          <mat-form-field class="full-width">
            <input matInput placeholder="Contact" required type="number" autocomplete="off"
             [(ngModel)]="donor.contact"
              [formControl]="contactFormControl">
            <mat-error *ngIf="contactFormControl.invalid">{{getRequiredErrorMessageForString('contact')}}</mat-error>
          </mat-form-field>
          

        </div>

        <br>
        <button id="submitButton" mat-raised-button color="primary" class="submit-button"
         [disabled]="!(donor.donorsName
        && donor.country && donor.city && donor.contact)"
          (click)="addDonors()">submit</button>
      </form>

    </div>
  </div>
</div>
