
<div id="homeContainer" class="container">
  <div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <mat-card>
      <mat-card-header>
          <mat-card-title>About developers</mat-card-title>
         
      </mat-card-header>
     
      <mat-card-content>
       <h3>Name : Md. Aslam Hossain</h3><br>
       <h3>University : Hajee Mohammad Danesh Science & Technology University(HSTU),Dinajpur</h3><br>
       <h3>Department : Electronics & Communication Engineering(ECE)</h3><br>
       <h3>Email : aslam.renu.soft43@gmail.com</h3><br>
       <h3>Contact : 01795667374,01521473544</h3><br>
       </mat-card-content>
     
  </mat-card>
  <div id="footer">
  <p>
     <br><br> Contact<br> <br>
      Md.Aslam Hossain.<br>
      <br>Mobile : 01795667374<br><br>
      email : aslamecehstu0043@gmail.com<br><br>
  </p>
  </div>
  </div>
  </div>
  </div>
  