.thumbnail{
    width: 100%;
    height: auto;
    margin-top: 15%;
}
p{
    text-align: center;
}
#notGranyedImg{
    width: 100%;
    height: auto;
}
#headingP{
    text-align: center;
    font-size: 18px;
   width: 100%;
  }