<div class="container-fluid">
  <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="row">
              <div *ngFor="let lygl of lastYearGrantedList">
                   <div *ngIf="lygl.prCode && lygl.status===granted" class=" col-sm-4  col-md-4 col-lg-4">
                  
                  <div class="thumbnail">
                      <p>Apply Date : {{lygl.createdDate}}</p>
                      <p>Candidate<span class="caret"></span></p>
                    <img src="assets/client-images/{{lygl.piCode}}.jpg">
                    <p>Application<span class="caret"></span></p>
                    <img src="assets/client-images/{{lygl.apiCode}}.jpg">
                      
                      <div class="caption">
                          <p>Details Address<span class="caret"></span></p>
                         <p>Name : {{lygl.name}}</p>
                         <p>Country : {{lygl.country}}</p>
                         <p>Zela : {{lygl.zela}}</p>
                         <p>Upozela : {{lygl.upozela}}</p>
                         <p>Union : {{lygl.union}}</p>
                         <p>Work : {{lygl.work}}</p>
                         <p>Contact : {{lygl.contact}}</p>
                         <p>bKash : {{lygl.bkash}}</p>
                         <p>Granted Date : {{lygl.lastModifiedDate}}</p>
                         <img *ngIf="lygl.prCode && lygl.status===granted" id="provedImg" src="assets/images/granted.jpg">
                         <img *ngIf="lygl.prCode && lygl.status===granted" id="provedImg" src="assets/granted-images/{{lygl.prCode}}.jpg">
                      
                      </div>

                  </div>
                  </div>
                 
              </div>
             
          </div>
      </div>
  </div>
</div>
