
<div id="homeContainer" class="container">
<div class="row">
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
<mat-card>
    <mat-card-header>
        <mat-card-title id="mainQuestion">POOR FUND</mat-card-title>
       
    </mat-card-header>
   
    <mat-card-content>
            The 'POOR FUND' was established by Md.Aslam Hossain in the 2019 to address the needs of a 
            growing number of people who need help.Today a group of organisers want to provide financial effort for
             those in our country who are in need of financial assistance.
        
            Funding for the assistance provided by the Poor Fund has no condition or back money. 
            Throughout the years, we have been able to provide this much needed assistance.
            
            The Poor Fund also coordinates its efforts with various community organizations in order to provide a more 
            comprehensive solution to the needs of our clients.

    </mat-card-content>
    <mat-card-header>
            <mat-card-title id="mainQuestion">What Kind of Assistance Does the Poor Fund Provide?</mat-card-title>
           
        </mat-card-header>
   <mat-card-content>
       The poor fund provides services specialy for students who need financial help for studying purpose.
       Other person can apply to get this service.
   </mat-card-content>

   <mat-card-header>
        <mat-card-title id="mainQuestion">How Can You get Help?</mat-card-title>
       
    </mat-card-header>
<mat-card-content>
   To get help from 'POOR FUND' you must provide your information in 'Candidates>Add me'
   then you must apply with your application contained appropriate problems and signature 
   of your union's member and chairman both.

</mat-card-content>
<mat-card-header>
        <mat-card-title id="mainQuestion">How Can You Help?</mat-card-title>
       
    </mat-card-header>
<mat-card-content>
   To help through 'POOR FUND' you must provide your information in 'Donors>Add me as donors'
   then you must apply with your application contained appropriate description about your company/group organization
/others.If you have no those then you can communicate with us in 'About' getting
contact. 

</mat-card-content>
</mat-card>
<div id="footer">
<p>
   <br><br> Contact<br> <br>
    Md.Aslam Hossain.<br>
    <br>Mobile : 01795667374<br><br>
    email : aslamecehstu0043@gmail.com<br><br>
</p>
</div>
</div>
</div>
</div>
