mat-card{
  margin-top: 15px;
}
mat-card-content{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#footer{
  margin-top: 20px;
  background: black;
  margin-bottom: 20px;
}

#footer p{
  text-align: center;
  color: white;
}