
// FOR NG MATERIAL 
// form field
.container-fluid {
  padding:1.2em;
  margin-top: 1%;
 margin-bottom: 1%;
  width:50%;
  margin-left:25%;
  height:100%;
}

.formDiv {
  display: flex;
  flex-direction: column;
}

.formDiv > * {
  width: 100%;
}

#fileSelectButton{
  width: 100%;
padding: 2%;
}

#headingP{
  font-size: 10px;
 width: 100%;
}
#submitButton{
  margin-left: 42%;
}
#matCardMessage {
text-align: center;
font-size: 20px;
}
