
<div class="container-fluid">
    <div class="row">
 

      <div class="col-ms-10 col-ms-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <h3 *ngIf="message">{{message}}</h3>
         <br>
      </div>
      
    <div class="col-ms-10 col-ms-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  
      <form class="form" name="biodataForm" [formGroup]="biodataForm">

                   <div>
                  <p  id="headingP">(1)Upload your image(2)Upload an application image in a single page 
                    and signature of 
                    your union's chairman and member both.
                  </p>
                   </div>
      

            <div id="fileSelectButton"  class="btn btn-primary">
                <input type="file" (change)="selectpiFile($event)">
                  </div>
                  <br>
                  <div id="fileSelectButton"  class="btn btn-primary">
                      <input type="file" (change)="selectapiFile($event)">
                        </div>
         <br><br>   
        <div class="formDiv">
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" 
            required
            autocomplete="off"
            [(ngModel)]="consumer.name"
            [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.invalid">{{getRequiredErrorMessage('name')}}</mat-error>        
        </mat-form-field>
      <br>
        <mat-form-field class="full-width">
          <input matInput placeholder="Country" 
            required
            autocomplete="off"
            [(ngModel)]="consumer.country"
            [formControl]="countryFormControl">
          <mat-error *ngIf="countryFormControl.invalid">{{getRequiredErrorMessage('country')}}</mat-error>                
        </mat-form-field>
       <br>
        <mat-form-field class="full-width">
          <input matInput placeholder="Zela" 
            required
            autocomplete="off"
            [(ngModel)]="consumer.zela"
            [formControl]="zelaFormControl">
          <mat-error *ngIf="zelaFormControl.invalid">{{getRequiredErrorMessage('zela')}}</mat-error>                
        </mat-form-field>
          <br>
        <mat-form-field class="full-width">
          <input matInput placeholder="Upozela" 
            required
            autocomplete="off"
            [(ngModel)]="consumer.upozela"
            [formControl]="upozelaFormControl">
          <mat-error *ngIf="upozelaFormControl.invalid">{{getRequiredErrorMessage('upozela')}}</mat-error>                
        </mat-form-field>
          <br>
        <mat-form-field class="full-width">
          <input matInput placeholder="Union" 
            required
            autocomplete="off"
            [(ngModel)]="consumer.union"
            [formControl]="unionFormControl">
          <mat-error *ngIf="unionFormControl.invalid">{{getRequiredErrorMessage('union')}}</mat-error>                
        </mat-form-field>
          <br>
        
               
        <mat-form-field class="full-width">
          <input matInput placeholder="Work" 
            required
            autocomplete="off"
            [(ngModel)]="consumer.work"
            [formControl]="workFormControl">
          <mat-error *ngIf="workFormControl.invalid">{{getRequiredErrorMessage('work')}}</mat-error>                
        </mat-form-field>
         <br>
    
        <mat-form-field id="contactBkashtoright" class="full-width">
          <input  matInput placeholder="Contact" 
            required
            autocomplete="off"
            [(ngModel)]="consumer.contact"
            [formControl]="contactFormControl">
          <mat-error *ngIf="contactFormControl.invalid">{{getRequiredErrorMessage('contact')}}</mat-error>                
        </mat-form-field>
          <br>
        
        <mat-form-field class="full-width">
          <input matInput placeholder="BKash" 
            required
            autocomplete="off"
            [(ngModel)]="consumer.bkash"
            [formControl]="bkashFormControl">
          <mat-error *ngIf="bkashFormControl.invalid">{{getRequiredErrorMessage('bkash')}}</mat-error>                
        </mat-form-field>
      </div>
      
        <br>
        <button id="submitButton" mat-raised-button color="primary" 
          class="submit-button"
        [disabled]="!(selectedpiFiles && selectedapiFiles && consumer.name
        && consumer.country && consumer.zela && consumer.upozela &&
        consumer.union && consumer.work && consumer.contact &&
        consumer.bkash)"
          (click)="uploadFile()" (click)="addConsumers()">submit</button>
      </form>





    </div>
    </div>
    </div>

   