// FOR NG MATERIAL 
// form field
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
#typeFile{
width: 246px;
}
#contactBkashtoright{
margin-left: 9%;

}
#submitButton{
  margin-left: 20%;
}
#headingP{
 width: 50%;
}
