<div class="form-container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 ">
      <h2 id="textCenter">Join now</h2>

      <span id="textCenter" class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

        <input id="textCenter" type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt"
          required autocomplete="off">
        <input id="textCenter" type="password" placeholder="Password" (ngModel)="password" name="password" class="txt"
          required autocomplete="off">


        <button id="btnForCreateAccount" type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
      </form>
      <a routerLink="/login">
        <h3 id="textCenter">Login directly?</h3>
      </a>

    </div>
  </div>
</div>