<div class="container-fluid">
    <div class="row">
        <div class="col-ms-10 col-ms-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <mat-card>
           
            <mat-card-content>
             <p>This website is for helping poor men.So if you are one of them thne you can apply 
                 to get help.Some organisers want to help poor men.They 
             </p>
            </mat-card-content>
          
          
        </mat-card>
        </div>
    </div>
</div>
