<div class="container-fluid">
  <div class="row">

    <div class="col-ms-10 col-ms-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <mat-progress-bar *ngIf="msg" mode="indeterminate"></mat-progress-bar>
      <br>
    
      <form class="form" name="biodataForm" [formGroup]="biodataForm">
        <div>
          <p id="headingP">(1)Upload proved image of candidate 
          </p>
        </div>

       <br>
        <div id="fileSelectButton" class="btn btn-primary">
          <input type="file" required [formControl]="selectedProvedFileControl" (change)="selectProvedFile($event)"
            [(ngModel)]="grantNotGrant.selectedProvedFile">
        </div>
        <br><br>
       
        <div class="formDiv">
        <mat-form-field>
          <input matInput placeholder="Grant-not-grant-id" required type="text" autocomplete="off"
            [(ngModel)]="grantNotGrant.grantNotGrantId" [formControl]="grantNotGrantIdFormControl">
          <mat-error *ngIf="grantNotGrantIdFormControl.invalid">{{getRequiredErrorMessage('grantNotGrantId')}}</mat-error>
        </mat-form-field>
        </div>
        <br>
        <div class="formDiv">
          <mat-form-field>
            <mat-select matInput placeholder="Select a status" [(ngModel)]="grantNotGrant.status" name="status" required
              [formControl]="statusFormControl">
              <mat-option value="Granted">Granted</mat-option>
              <mat-option value="Not-Granted">Not-Granted</mat-option>

            </mat-select>
            <mat-error *ngIf="statusFormControl.invalid">{{getRequiredErrorMessage('status')}}</mat-error>

          </mat-form-field>

        </div>

        <br>
        <button id="submitButton" mat-raised-button color="primary" class="submit-button"
         [disabled]="!( grantNotGrant.selectedProvedFile && grantNotGrant.status && grantNotGrant.grantNotGrantId)"
          (click)="addGrantNotGrant()">submit</button>
      </form>
      <hr>


 <div *ngFor="let c of allCandidates">
                <div class=" col-sm-4  col-md-4 col-lg-4">
                    
                    <div class="thumbnail">
                        <p>Apply Date : {{c.lastModifiedDate}}</p>
                        <p>ID : {{c.id}}</p>
                        <p>Candidate<span class="caret"></span></p>
                      <img src="assets/client-images/{{c.piCode}}.jpg">
                      <p>Application<span class="caret"></span></p>
                      <img src="assets/client-images/{{c.apiCode}}.jpg">
                        
                        <div class="caption">
                            <p>Details Address<span class="caret"></span></p>
                           <p>Name : {{c.name}}</p>
                           <p>Country : {{c.country}}</p>
                           <p>Zela : {{c.zela}}</p>
                           <p>Upozela : {{c.upozela}}</p>
                           <p>Union : {{c.union}}</p>
                           <p>Work : {{c.work}}</p>
                           <p>Contact : {{c.contact}}</p>
                           <p>bKash : {{c.bkash}}</p>
                           </div>

                    </div>
                    </div>
                </div>


    </div>
  </div>
</div>